/* Общие стили для всей страницы */
body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт */
    margin: 50px; /* Отступы от краев страницы */
    text-align: center; /* Выравниваем текст по центру */
}

/* Стили для формы ввода данных */
form {
    display: inline-block; /* Отображаем форму в строчном блоке */
    text-align: left; /* Выравниваем текст внутри формы по левому краю */
    margin-top: 20px; /* Отступ сверху формы */
}

/* Стили для меток и полей ввода */
label, input {
    display: block; /* Отображаем метки и поля ввода как блочные элементы */
    margin: 10px 0; /* Отступы между метками и полями ввода */
}

/* Стили для кнопки отправки формы */
input[type="submit"] {
    margin-top: 20px; /* Отступ сверху кнопки отправки */
    cursor: pointer; /* Изменяем курсор при наведении на кнопку */
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем границу у кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругляем углы кнопки */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Изменяем цвет фона при наведении на кнопку */
}

/* Стили для блока с результатом */
#result {
    margin-top: 20px; /* Отступ сверху блока с результатом */
    font-weight: bold; /* Жирное начертание текста */
}
/* Стили для заголовка */
h1 {
    color: #007bff; /* Цвет заголовка */
    margin-bottom: 30px; /* Отступ снизу заголовка */
}

/* Стили для ссылки "Go Back" */
a {
    color: #007bff; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s ease; /* Плавное изменение цвета текста при наведении */
}

a:hover {
    color: #0056b3; /* Изменяем цвет текста ссылки при наведении */
}